node_modules/
.idea
*.jar
*.pyc
*.swp
*.mp3
*.pkl
*.xls
*.xml
*.csv
*.pkl
*.jpg
*.png
*.flv
*.flv.download
*.gif
*.download
*.zip
*.xlsx
*.log
*.mp4
*.srt
~$d.xlsx
d.xlsx
request_header
header_toolkit.txt
__pycache__/
wikizhword.text
news_tensite_xml.dat
news_tensite_xml.smarty.dat
Download/
Download_IMG/
cookies
httpcache
full_name.dat
.ipynb_checkpoints/
spider/headers.txt
area_code.txt
dataset/train-labels-idx1-ubyte.gz
dataset/t10k-labels-idx1-ubyte.gz
dataset/t10k-images-idx3-ubyte.gz
dataset/train-images-idx3-ubyte.gz
NLP/souhu.h5
.vscode/settings.json
autojs/.vscode/launch.json
node_project/spider/.vscode/launch.json
.vscode/
